body {
  color: #333;
  font-family: PostGrotesk, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.container {
  max-width: 990px;
  margin: 0 auto;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

.teams-listing {
  display: block;
  padding: 1.8rem 0;
}

article {
  padding: 1rem 0;
  border-top: 1px solid #CCC;
}

.team-image a {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.stats, .info {
  font-size: .7rem;
  color: #444;
}

.category, .createdDate {
  border-left: #666 1px solid;
  margin-left: 5px;
  padding-left: 8px;
}

.loanBecause {
  margin: .8rem 0;
}

.team-name {
  display: block;
}

.fundraising-meter {
  margin: 0;
}

@media only screen and (min-width: 681px) {
  .team-image  a {
      display: block;
      margin: 0;
      text-align: left;
    }
}
